header{
    background-color: cadetblue;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    display:flex;
    justify-content: space-between;
    align-items: center;
    }

h1{
    display: inline;
}

h2{
    color: darkblue;
}

aside{
    border-right: solid darkblue;
    padding: 5px;
    margin-right: 5px;
    width: 100px;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#about{
    margin-top: 90px;
}

nav{
    display: inline;
}

li{
display: inline;
text-decoration: underline;
}

.card{
    display: flex;
    flex-direction: column;
}

#first_card img{
    transform: scale(2,2);
    margin:100px;
    
}

@media screen and (max-width: 768px) {  
    section,  nav {
        flex-direction: column;
    }  

    nav{
        display: block;
    }

    li{
        display: block;
    }
    aside {
        border-right: none;
        border-bottom: solid darkblue;
    }  

    #about{
        margin-top: 100px;
    }
}